h1, h2, h3, h4, h5, h6
{
    font-family: 'Times New Roman', serif;/*Шрифт*/
    font-size: 150%;/*Розмір*/
    color: black ;/*Колір*/
    margin: 0;/*Відступ(поля)*/
    /*Обрамлення не потрібне*/
}

header .container-fluid/*Розмір елемента по ширині екрану(браузера)*/
{
    background-image: url('https://s1.1zoom.ru/b4866/178/USA_Houses_New_York_City_Night_Megapolis_From_526520_1920x1080.jpg');/*Картинка (колір) фону*/
    background-repeat: no-repeat;/*Без повторень*/
    background-size: cover;/*Розмір фону*/
    height: 100vh;/*Висота елемента*/
    padding: 36px;/*Поля елемента*/
}

.jumbotron/*Елемент віділення тексту з сірим фоном*/
{
    background: none;/*Без сірого фону*/
    text-align: center;/*Вирівнювання до центру*/
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron small
{
    color: #FFFFFF;/*Колір текста в тегах*/
}

.jumbotron p
{
    color: #FFFFFF;
    margin-bottom: 5%;/*Відступ*/
}